<%= render "layouts/navbar" %>

<div class="col-sm-10 no-padding main-container">
  <div class="property-display">
    <div class="property-info">
      Property Info
    </div>
</div>

  <div class="clearfix"></div>


  <% @property.comparibles.each do |key| %>
    <p>
      <%= key["zestimate"]["amount"]["__content__"] %>
    </p>
  <% end %>
