// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.title h1 {
  text-align: center;
  margin-top: 400px;
  font-family: Arial,;
  width: 100%;
  position: relative;
  z-index: 2;
  color: white;
  font-size: 70px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-weight: 900;
  text-shadow: -1px -1px 0 #000;
}

.searchbar {
  text-align: center;
  align-items: center;
  flex-direction: row;
  // display: inline-flex;
  justify-content: center;
  top: 30%;
  position: relative;
  width: 75%;
  margin: 0 auto;
  background-color: rgba(0,0,0,.7);
  height: 100px;
  color: #fff;
  z-index: 2;
}

.search-field {
  padding: 1.5em;
}

.address-field {
  margin-left: 4em;
}

div input.field {
  height: auto;
  font-size: 2.5em;
  padding: 0;
  padding-left: .5em;
}

div.search-button {
  padding-top: 1.5em;
  margin-left: 0;
}

#video-background {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: initial;
  height: auto;
  z-index: 1;
  margin: 0 auto;
  object-fit: cover;
  padding: 0;
}


// SHOW VIEW STYLESHEETS

.house_image {

}

.property_info {
 margin-left: 450px;
}

.change_in_value {
 margin-top: 20px;
 margin-left: 450px;
}

.square_footage {
 margin-top: 20px;
 margin-left: 450px;
}

.bathrooms {
 margin-top: 20px;
 margin-left: 450px;
}

.bedrooms {
 margin-top: 20px;
 margin-left: 450px;
}

.estimate {
 margin-top: 20px;
 margin-left: 450px;
}

.feedback_input {
 margin-top: 20px;
 // margin-left: 100px;
}

.feedback_send {
 margin-top: 20px;
}



// NAVBAR

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}


.width-100 {
  width: 100%;
}

.nav {
  background-color: #304362;
  margin: 0;
  top: 0;
  padding: 2.5em;
  padding-top: 5em;
  list-style: none;
  z-index: 100;
  height: 40em;
  color: #fff;
  height: 100%;
}

.nav-btn {
  margin-left: -18em;
  margin-top: 0.8em;
  left: 100%;
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

.fa.fa-bars {
  color: #304362;
}

.nav-group {
  margin: 0 0 2em 0;
  padding-left: 2em;
}

.nav-text {
  text-decoration: none;
  color: #fff;
}

// Show View CSS

.property-display {
  margin: 0 auto;
  height: 20em;
  width: 80%;
  background-color: grey;
}

.property-info {
  background: url('http://www.costamiamihomes.com/assets/condo-images/echo-brickell-miami_3.jpg') no-repeat;
  background-size: 100% 100%;
  height: 20em;
  width: 100%;
}

.trend {
  height: 30em;
  width: 100%;
  // background-color: yellow;
}


// Analyze View CSS


.numbers {
  margin: 0 auto;
  height: 10em;
  width: 80%;
  background-color: rgb(245,245,245);
  color: rgb(100,116,136);
  font-weight: bolder;
}

.offer-hold {
  margin: 0 auto;
  width: 80%;
  height: 5em;
  background-color: red;
}

.all-costs-form {
  margin: 0 auto;
  width: 80%;
}
