// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.title h1 {
  text-align: center;
  margin-top: 400px;
  font-family: Arial,;
  width: 100%;
  position: relative;
  z-index: 2;
  color: white;
  font-size: 70px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-weight: 900;
  text-shadow: -1px -1px 0 #000;
}

.searchbar {
  text-align: center;
  align-items: center;
  flex-direction: row;
  // display: inline-flex;
  justify-content: center;
  top: 30%;
  position: relative;
  width: 75%;
  margin: 0 auto;
  background-color: rgba(0,0,0,.7);
  height: 100px;
  color: #fff;
  z-index: 2;
}

.search-field {
  padding: 1.5em;
}

.address-field {
  margin-left: 4em;
}

div input.field {
  height: auto;
  font-size: 2.5em;
  padding: 0;
  padding-left: .5em;
}

div.search-button {
  padding-top: 1.5em;
  margin-left: 0;
}

#video-background {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: initial;
  height: auto;
  z-index: 1;
  margin: 0 auto;
  object-fit: cover;
  padding: 0;
}


// SHOW VIEW STYLESHEETS

.property-display {
 margin: 0 auto;
 height: 20em;
 // width: 80%;
 position: relative;
}

.property-info {
 background: linear-gradient(
     rgba(0, 0, 0, 0.6),
     rgba(0, 0, 0, 0.6)
   ),
   url('http://www.costamiamihomes.com/assets/condo-images/echo-brickell-miami_3.jpg')
no-repeat;
 background-size: 100% 100%;
 height: 20em;
 font-family: 'Roboto', sans-serif;
}

div.info {
 position: absolute;
 color: white;
}

.trend {
 height: 30em;
 width: 100%;
}

.property-address {
 margin: 30px 0 0 60px;
}

.property-address h1 {
 margin: 0;
}

.property-details {
 display: inline-flex;
 margin: 2em 0 0 30px;
 font-size: 30px;
}

.field-description {
 padding: 0 30px;
 border-right: 2px white solid;
}

.description {
 font-size: 15px;
}

.sqft {
 border-right: none;
}
// .house_image {
//
// }
//
// .property_info {
//  margin-left: 450px;
// }
//
// .change_in_value {
//  margin-top: 20px;
//  margin-left: 450px;
// }
//
// .square_footage {
//  margin-top: 20px;
//  margin-left: 450px;
// }
//
// .bathrooms {
//  margin-top: 20px;
//  margin-left: 450px;
// }
//
// .bedrooms {
//  margin-top: 20px;
//  margin-left: 450px;
// }
//
// .estimate {
//  margin-top: 20px;
//  margin-left: 450px;
// }
//
// .feedback_input {
//  margin-top: 20px;
//  // margin-left: 100px;
// }
//
// .feedback_send {
//  margin-top: 20px;
// }



// NAVBAR

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

div.navbar-fixed-side {
  position: fixed;
}

.nav-wrap {
  height: 100vh;
  margin-top: 3em;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}


.width-100 {
  width: 100%;
}

div.navbar {
  height: 50px;
  position: fixed;
  width: 100%;
}

.nav {
  background-color: #304362;
  margin: 0;
  top: 0;
  padding: 1em;
  padding-top: 5em;
  list-style: none;
  z-index: 100;
  height: 40em;
  color: #fff;
  height: 100%;
}

.nav-btn {
  margin-left: -15em;
  margin-top: 0.8em;
  left: 100%;
  background-color: inherit;
  border: 0;
  cursor: pointer;
}


.fa.fa-bars {
  color: #304362;
}


.nav-group {
  margin: 0 0 2em 0;
  padding-left: 2em;
  // padding-top: 3em;
}

.nav-text {
  text-decoration: none;
  color: #fff;
  padding-left: 1em;
}

.nav li {
  padding-bottom: 2em;
}

// // Show View CSS
//
// .property-display {
//   margin: 0 auto;
//   height: 20em;
//   width: 80%;
//   background-color: grey;
// }
//
// .property-info {
//   background: url('http://www.costamiamihomes.com/assets/condo-images/echo-brickell-miami_3.jpg') no-repeat;
//   background-size: 100% 100%;
//   // opacity: 0.4;
//   height: 20em;
//   width: 100%;
//   color: white;
// }
//
// .trend {
//   height: 30em;
//   width: 100%;
//   // background-color: yellow;
// }


// Analyze View CSS


.numbers {
  margin: 0 auto;
  height: 10em;
  // width: 80%;
  background-color: rgb(245,245,245);
  color: rgb(100,116,136);
}

.numbers-all {
  font-weight: bolder;
  font-size: 40px;
  padding-top: 1em;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.numbers-all-costs {
  padding-right: 1em;
  padding-left: 1em;
}

#holding-total-cost {
border-left: 2px solid #ADB2B5;
}

#transaction-total-cost {
border-left: 2px solid #ADB2B5;
}

#repairs-total-cost {
border-left: 2px solid #ADB2B5;
}

#total-total-cost {
border-left: 2px solid #ADB2B5;
}

.how-much-offer {
  // padding-top: 2em;
  font-size: 18px;
}



.offerHowMuch {
  padding-top: 1em;
}

.offer-hold {
  height: 9em;
  background-color: #527292;
  display: flex;
  color: white;
  justify-content: space-around;
  padding-left: 4em;
  padding-right: 4em;
}

.div.offerInputs.col-sm-8 {
  padding-left: 8em;
}

.mytext {
    width: 50px;
}
.all-costs-form {
  margin: 0 auto;
  // width: 80%;
}

#offerPrice {
  border: none;
  background: inherit;
  font-size: 35px;
  // font-weight: bolder;
}

#dollarSign {
  font-size: 35px;
  // font-weight: bolder;
}

#percentOffering{
  padding-left: 1em;
}

.offerInputs {
  padding-top: 2em;
  display: flex;
  padding-left: 9em;
}

::-webkit-input-placeholder {
   color: rgb(100,116,136);
}


.estimated-hold-time {
  font-size: 18px;
  padding-top: 1em;
  margin-left: 5em;
}

.holdInput {
  margin-left: 2em;
}

.selling-title {
  display: flex;
}

#loanTotal {
  border: none;
}

#loanTotalCost {
  border: none;
}

.holdingCostsMonthly {
  border: none;
}

#totalHoldingCostMonthly {
  border: none;
}

.form-financial {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 20em;
  font-size: 14px;
  font-weight: bold;
}


.form-holding {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 20em;
  font-size: 14px;
  font-weight: bold;
}

.monthly {
  padding-left: 7em;
}

.form-buying {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 30em;
  font-size: 14px;
  font-weight: bold;
}

.form-selling {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 30em;
  font-size: 14px;
  font-weight: bold;
}

.form-selling-buying {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 30em;
  font-size: 14px;
  font-weight: bold;
}

.form-repair {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 30em;
  font-size: 14px;
  font-weight: bold;
}

.all-total-content {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 30em;
  font-size: 14px;
  font-weight: bold;
}

.yearly {
  padding-left: 5em;
}

.main-container {
  position: relative;
  top: 50px;
}



.results {
 color: white;
 display: flex;
 justify-content: center;
 flex-direction: column;
 height: 90%;
 float: right;
 margin: 1% 20% 5px 0;
 background: linear-gradient(
     rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)
   );
 padding: 0 2em;
}

.results div h1 {
 margin: 0;
 padding: 0;
 font-size: 1.5em;
 font-family: 'Roboto', sans-serif;
}

.results div span {
 margin: 0;
 padding: 0;
 font-size: 3.5em;
 font-family: 'Roboto', sans-serif;
 color: green;
 // color: red;
}


.trend {
height: 35em;
width: 100%;
display: inline-flex;
}

.chart {
 margin: 1em;
}

.chart img {
 padding: 1em;
}
