<!-- Side NavBar -->

<div class="col-sm-2 no-padding side-nav">
  <nav class="nav-wrap">
    <ul class="nav">


    <li class="nav-group">
      <a href="#" class="nav-text">Property Info</a>
    </li>



    <li class="nav-group" action="/financialcosts" method="get">
      <a class="nav-text"  data-toggle="modal" data-target="#analyzeModal">Analyze</a>
    </li>


    <li class="nav-group">
      <a href="#" class="nav-text">Comparables (Zillow API)</a>
    </li>

    <li class="nav-group">
      <a href="#" class="nav-text">Comparables (Between Properties Saved)</a>
    </li>

    <li class="nav-group" action='/googlemap' method='get'>
      <a href="googlemap" class="nav-text">Google Satellite View</a>
    </li>


  </ul>
  </nav>
</div>
